/node_modules/
/test/fixtures/simple-app/node-*
/test/fixtures/simple-app/tmp
/test/fixtures/even-simpler-app/node-*
/test/fixtures/even-simpler-app/tmp
/test/fixtures/run-things-in-bin/node-*
/test/fixtures/run-things-in-bin/tmp
/test/fixtures/npm-start/node-*
/test/fixtures/npm-start/tmp
/test/fixtures/iojs/iojs-*
/test/fixtures/iojs/tmp
